$headerBackground: url(../img/header_background_v1.jpg);
$fonts: "Times New Roman", "Palatino Linotype", serif;
$navBorderColor: grey;
$headerFontsColor: #eeeeef;
$topButtonBackground: blue;
$articleBackground: #efefee;
$mainBackground: white;
$mainTextColor: black;
$artecleHeaderColor: #0097a3;
$postDescriptionColor: #ea2627;
$postDescriptionBorder: #869ba9;
$fontSize: 18px/24px;