$headerBackground: url(../img/header_background_v2.jpg);
$fonts: "Times New Roman", "Palatino Linotype", serif;
$navBorderColor: #b9c9d7;
$headerFontsColor: #ff5726;
$topButtonBackground: #0401ad;
$articleBackground: white;
$mainBackground: #efefee;
$mainTextColor: grey;
$artecleHeaderColor: grey;
$postDescriptionColor: grey;
$postDescriptionBorder: #e2e8eb;
$fontSize: 20px/24px;