* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman";
}

#main {
    display: flex;
    justify-content: center;
}

.todo-container {
    border: 1px solid black;
    padding: 12px;
    margin: 22px;
    width: 650px;
    min-width: 650px;
    min-height: 630px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading {
    margin: 17px;
    border-bottom: 3px solid black;
    text-align: center;
}
.heading p {
    margin: 22px;
    font-size: 30px;
}
.heading p:nth-child(2) {
    font-size: 20px;
}
.actions-container {
    margin: 17px 0;
    display: flex;
    justify-content: space-between;
}
#input-field {
    margin: 5px;
    padding: 0 12px;
    width: 100%;
    font-size: 16px;
}
.disabled {
    color: black;
}
.material-icons {
    cursor: pointer;
    font-size: 40px;
}
.l-container {
    margin: 15px;
    height: 100%;
}
.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.check-and-text {
    display: flex;
    align-items: center;
}
.row-text {
    padding: 0 12px;
}

.footer {
    margin-bottom: 0;
    padding: 12px 0;
    text-align: center;
}
.footer img {
    height: 80px;
}

